@mixin content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  height: 40rem;
  margin: 0 auto;
}
@mixin btns {
  border: 0.2rem solid transparent;
  border-radius: 5rem;
  background-color: #fff;
  padding: 1rem 2.5rem;
  margin: 1rem 2rem 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@mixin images {
  margin: 2rem 2rem 1rem;
  width: 4.5rem;
  height: 3rem;
}
@mixin headers {
  margin: 2rem;
  color: $neutralColor2;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive, sans-serif;
  letter-spacing: 0.2rem;
}
@mixin paragraphs {
  margin: 0 2rem 2rem;
  color: $neutralColor1;
  font-size: 1.5rem;
}

@mixin hover-btn {
  border: 0.2rem solid #fff;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
